Linux® es un sistema operativo (SO) de open source y una plataforma de infraestructura de TI. Originalmente, fue concebido y creado como un pasatiempo por Linus Torvalds pasatiempo de Linus Torvalds. Mientras estaba en la universidad, Linus intentó crear una versión de open source, alternativa y gratuita, del sistema operativo MINIX, que se basaba en los principios y el diseño de Unix. Desde entonces, ese pasatiempo se ha convertido en el SO con la base más grande de usuarios, en el SO más usado en servidores de Internet disponibles públicamente y en el único SO usado en las 500 principales supercomputadoras más rápidas.
